@model dynamic

@if (Model?.editor.config.markup is not null)
{
    string markup = Model.editor.config.markup.ToString();
    markup = markup.Replace("#value#", Html.ReplaceLineBreaks((string)Model.value.ToString()).ToString());

    if (Model.editor.config.style != null)
    {
        markup = markup.Replace("#style#", Model.editor.config.style.ToString());
    }

    <text>
        <div style="background-color: white; padding: 20px; margin-top: 20px;">@Html.Raw(markup)</div>
    </text>
}
else
{
    <text>
        <div style="background-color: white; padding: 20px; margin-top: 20px;">@Model?.value</div>
    </text>
}
