@using Umbraco.Extensions
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockGridItem>

<div style="background-color: white; padding: 20px; margin-top: 20px;">
    <h2>@Model.Content.Value("title")</h2>
    <p>@Model.Content.Value("description")<p/>
</div>